      h1 {
          font-weight: 800;
          font-size: 40px;
          /* width: 211px; */
          color: #F4C70C;
      }
      
      p {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 20px;
      }
      
      .container2 {
          display: flex;
          gap: 131px;
      }
      
      .profiles {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          background-color: rgb(27, 24, 24);
      }
      
      .profiles>h2 {
          color: #F4C70C;
      }
      
      .EducationList {
          display: flex;
          flex-direction: column;
          text-align: start;
      }
      
      .aboutUsright {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          row-gap: 20px;
          column-gap: 40px;
          z-index: 1;
      }
      
      .bottomLine {
          background-color: #F4C70C;
          height: 6px;
      }
      
      @media (max-width:640px) {
          .container2 {
              display: flex;
              flex-wrap: wrap;
              gap: 50px;
          }
          #about-container {
              height: auto;
          }
          .EducationList {
              display: flex;
              flex-direction: column;
          }
          p {
              color: white;
          }
          h3 {
              color: gray;
          }
          a {
              color: #f4c70c;
              text-decoration: none;
          }
      }
      
      li {
          margin: .5rem 0;
      }
      
      ul {
          margin: 0;
      }