body {
    background: black;
    color: #F4C70C;
    font-family: arial;
}

.container {
    width: 1297px;
    height: 908px;
    min-width: 640px;
    min-height: 1136px;
    margin-left: auto;
    margin-right: auto;
    /*   position: relative; */
}

header {
    border-bottom: 20px solid #F4C70C;
}

main {
    background-color: black;
    /* background-image: url("images/ABC-Background.jpg"); */
    background: url(../images/ABC-Background.jpg);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: inherit;
    margin-top: -100px;
    /* position: absolute; */
}

footer {
    height: 16%;
    border-top: 5px solid #F4C70C;
}

#main-div {
    width: 500px;
    /* margin-top: 125px; */
}


/* ===== HOME PAGE TEXT BOXES ===== */

.text-main {
    /*   padding-top: 50%; */
    margin-left: 150px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    z-index: 1;
    display: block;
    transform: translate(-15%, 50%)
}

#text-main {
    /*   padding: 0  */
    padding: 0 25px;
    /*   margin-left: 150px; */
    color: white;
    position: inherit;
    /*   top: 225%; 
  left: 50%; */
    z-index: 1;
}

.main-image {
    width: 60%;
    margin: 100px auto -50px;
}

.main-image img {
    min-width: 10%;
    width: 100%;
    padding: 75px 25px;
    padding-bottom: 0;
}


/* ===== BUTTON PROPERTIES ===== */

.button {
    border: 3px solid #F4C70C;
    border-radius: 2px;
    color: white;
    background: rgba(0, 0, 0, 0.25);
    padding: 15px;
    left: 25%;
    position: relative;
    margin-top: 175px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
}

a.button:link {
    color: #ccc;
}

a.button:visited {
    color: white;
}

a.button:hover {
    color: #F4C70C;
    background-color: #333333;
}

a.button:active {
    color: #800000;
}


/* 
    .button a:hover {
    border: 3px solid #F4C70C;
    border-radius: 2px;
    color: white;
    background: rgba(0, 0, 0, 0.25);
    padding: 15px;
    left: 25%;
    position: relative;
    margin-top: 25px;
    } */


/* ===== SEARCH PAGE ===== */

.main-search {
    /* height: 500px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 100px;
    grid-template-areas: "one one one" "two three three";
    gap: 20px;
    margin-top: 5px;
}

.main-search h1 {
    grid-area: one;
    color: #F4C70C;
    font-size: 150%;
    text-align: center;
    height: 100%;
}

.search-bar {
    grid-area: two;
    /* position: flex; */
    background: rgba(255, 255, 255, 0.1);
    overflow: auto;
    height: 700px;
}

.search-results {
    grid-area: three;
    /* position: flex; */
    background-color: rgba(255, 255, 255, 0.1);
    height: 700px;
    display: flex;
}


/* ===== SEARCH BAR ===== */

#userInput {
    width: 85%;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 5px;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
    margin-top: 5px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: -8px;
    background-color: #F4C70C;
    padding: 3px;
    padding-left: 5px;
}