body{
	width: 100%;
	background-color: black;
}
p{
	color: white;
}
h1, h2, h3 {
	color: white;
} 

#yellowLine {
	
	height: 23px;
	background-color: yellow;
}

.title {
	text-align: center;
}
.messageUS {
	
}

.contact {
	display: flex;
}

.content {
	display: flex;
}